.section-advantages__paragraph {
    padding: 0;
    background-color: rgb(0, 137, 211);
    color: white;
    margin: 0;
    max-width: 350px;
    border-radius: 20px;
}

.section-advantages__paragraph:nth-of-type(2n) {
    background-color: white;
    color: rgb(0, 137, 211);
}

.section-advantages__paragraph-title {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px 20px;
    text-align: center;
    background-color: white;
    color: rgb(0, 137, 211);
    min-height: 50px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.section-advantages__paragraph:nth-of-type(2n) .section-advantages__paragraph-title {
    background-color: rgb(0, 137, 211);
    color: white;
}

.section-advantages__paragraph-text {
    list-style: none;
    padding: 10px 20px;
    margin: 0;
    font-size: 16px;
}

@media (max-width: 770px) {
    .section-advantages__paragraph:nth-of-type(2n) .section-advantages__paragraph-title {
        color: rgb(0, 137, 211);
        background-color: white;
    }
    .section-advantages__paragraph:nth-of-type(2n) {
        color: white;
        background-color: rgb(0, 137, 211);
    }
}