.section-advantages__paragraph {
    padding: 0;
    text-align: justify;
    background-color: rgb(0, 137, 211);
    color: white;
    margin: 0;
}

.section-advantages__paragraph:nth-of-type(2n) {
    background-color: white;
    color: rgb(0, 137, 211);
}

.section-advantages__paragraph-title {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    background-color: white;
    color: rgb(0, 137, 211);
    min-height: 50px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-advantages__paragraph:nth-of-type(2n) .section-advantages__paragraph-title {
    background-color: rgb(0, 137, 211);
    color: white;
}

.section-advantages__paragraph-text {
    padding: 10px;
    margin: 0;
}