.section {
    font-family: 'NeoSansPro', Courier, monospace;
    background-image: url('../../images/section-fone.png');
    background-position: center;
    background-size: cover;
    color: rgb(0, 137, 211);
}