.main {
    font-family: '', Courier, monospace;
    color: rgb(0, 137, 211);
    background-image: url('../../images/section-fone.png');
    background-size: 100%;
    background-repeat: repeat;
    background-position: center;
}