.header {
    font-family: 'NeoSansPro', Courier, monospace;
    color: rgb(0, 137, 211);
    background-image: url('../../images/air-cleaner-main.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.header__description {
    margin: 150px auto;
}

.header__subtitle {
    margin-top: 50px;
    font-size: 35px;
}

.header__title {
    font-weight: 700;
    font-size: 50px;
}

@media (max-width: 840px) {
    .header__title {
        font-size: 35px;
    }
    .header__subtitle {
        font-size: 20px;
    }
    .header__description {
        margin-top: 100px;
        margin-left: 20px;
        margin-right: 20px;
    }
}