.section-params {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-params__title {}

.section-params__subtitle {
    text-transform: lowercase;
}

.section-params__params {
    list-style: none;
    padding: 0;
}

.section-params__param {
    display: grid;
    grid-template-columns: 400px auto;
}

.section-params__param-title {
    margin: 0;
    padding: 0;
    text-align: left;
}

.section-params__param-value {
    margin: 0;
    padding: 0;
    text-align: left;
}

@media (max-width: 840px) {
    .section-params__param {
        grid-template-columns: 50% auto;
        font-size: 15px;
    }
}

@media (max-width: 500px) {
    .section-params__param {
        font-size: 10px;
    }
}