.section__title_purpose_scheme {
    position: absolute;
    margin-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 2px solid rgb(0, 137, 211);
    border-bottom: 2px solid rgb(0, 137, 211);
}