.header {
    font-family: 'NeoSansPro', Courier, monospace;
    color: rgb(0, 137, 211);
    background-image: url('../../images/air-cleaner-main.jpg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 675px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}