.section-application__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 50px;
    row-gap: 20px;
    padding: 0;
}

.section-application{
    padding: 0 20px;
}